@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #000;
    color: #fff;
} 
p{
    text-align: left;
}

header{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   position: fixed;
   padding: 25px;
   background: #000; 
}

nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 0 30px;
}
nav ul li a{
    color: #fff;  
    text-decoration: none;
}
nav ul li a:hover{
    color: #52cbff;  
    text-decoration: none;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
section#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h1{
    margin-bottom: 1%;
}
section#home h1{
   font-weight: 400;
   font-size: 8vh;
}
section#home h2{
    font-weight: 400;
    font-size: 2.4vh;
 }
.sobre{
    background: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    gap: 3%;
    border-radius: 1%;
    border: 1px solid #c3c3c3;
}
.sobre img{
    border-radius: 1%;
}

#icones{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.icones{
    color: #fff;
}
.icones:hover{
    color:  #52cbff;
    scale: 1.2;
}
.container-projetos{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 1%;

}
.projetos{
    width: 250px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #c3c3c3;
    border-radius: 5%;
    background: #111;
}
.projetos_texto{
    margin-top: 3%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

 .sobre_fatec{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 1%;
   
 }
 .sobre_fatec_texto{
    text-align: justify;
    padding: 30px;
    border: 1px solid #c3c3c3;
    border-radius: 3%;
    background: #111;
 }
 a{
    color: #fff;
 }
 a:hover{
    color: #52cbff;
 }
 iframe{
    border-radius: 3%;
 }

 footer{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   padding: 25px;
   color: #fff;  
 }

 #icones_footer{
    margin: 5px;
 }

